
/* -- Reset Css e Configuração da Fonte -- */
* {
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;
}

/* -- Fim -- */

div img {
    display: block;
    width: 100%;
}

/* -- Header -- */
.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

 header {
    background-color: #122A57;
    color: #fff;
    height: 100px;
    display: flex;
    align-items: center;
} 

header .list-items {
    display: flex;
    justify-content: space-between;
    max-width: 260px;
    width: 100%;
    align-items: center;
}

#btn-mobile {
    display: none;
}

header .menu {
    justify-content: space-between;
}

.list-items li a {
    color: #FFF;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
}

/* -- Fim Header -- */

/* -- Conteúdo 1 -- */

.apresentacao {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao .texto-apresentacao {
    min-height: 200px;
}

.texto-apresentacao h1 {
    color: #122A57;
    font-size: 48px;
    margin-bottom: 10px;
}

/* -- Fim Conteúdo 1 -- */

/* -- Conteúdo 2 -- */

#quem-somos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    /* border: 1px solid red; */
}

#quem-somos img {
    min-width: 320px;
    margin: auto;
}

#quem-somos h2 {
    font-size: 32px;
    color: #122A57;
    display: flex;
    margin-bottom: 20px;
}

#quem-somos h2::before {
    content: "";
    height: 40px;
    width: 5px;
    margin-right: 5px;
    background-color: #122A57;
    position: relative;
}

#quem-somos p {
    margin-bottom: 10px;
    width: 90%;
}

#quem-somos img {
    min-width: 420px;
}

/* -- Fim Conteúdo 2 -- */

/* -- Conteúdo 3 -- */

.container-externo {
    background-color: #122A57;
    width: 100%;
}

#servicos {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

#servicos h2 {
    color: #FFF;
    font-size: 32px;
    margin-bottom: 20px;
}

.list-servicos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-servicos .item-servico {
    text-align: center;
}

.item-servico a {
    background-color: #FFF;
    color: #122A57;
    width: 220px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700;
}

.item-servico p {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
}

.item-servico img {
    width: 80%;
    margin: auto;
}

/* -- Fim Conteúdo 3 -- */

/* -- Conteúdo 4 -- */

#planos {
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px;
}

#planos h2 {
    font-size: 32px;
}

.list-planos {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-plano {
    flex: 1;
    border: 4px solid #122A57;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
}

.item-plano .btn {
    margin: auto;
    margin-bottom: 20px;
}

.item-plano h3 {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-plano h3::after {
    content:"";
    background-color: #122A57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-plano ul {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-plano ul li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-plano ul li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #122A57;
    margin-right: 5px;
}

/*-- Fim Conteúdo 4-- */

/*-- Botões --*/

.btn {
    background-color: #122A57;
    color: #FFF;
    width: 220px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 30px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*-- Fim Botões --*/

/*-- Footer --*/

footer {
    background-color: #122A57;
    height: 70px;
    display: flex;
    align-items: center;
}

footer .footer {
    justify-content: space-between;
    color: #FFF;
}

/*-- Fim do Footer --*/

/*-- Mobile --*/

@media(max-width:600px) {
    .flex-container {
        justify-content: space-between;
    }

    #menu li {
        padding: 15px;
    }

    #menu li a {
        right: 0;
        color: #FF680B;
    }

    #titulo > h1 {
        text-align: center;
        margin-left: 130px;
    }

    .primeira_imagem {
        margin-top: 60px;
    }

    .apresentacao {
        flex-direction: column-reverse;
    }

    .apresentacao .texto-apresentacao {
        width: 100%;
    }

    .texto-apresentacao {
        text-align: center;
    }

    .btn {
        margin: auto;
        margin-top: 20px;
    }

    #quem-somos {
        flex-direction: column-reverse;
    }

    #quem-somos h2  {
        justify-content: center;
        margin-bottom: 20px;
    }

    #quem-somos p  {
        text-align: justify;
        width: 100%;
    }

    #servicos h2 {
        text-align: center;
    }

    .list-servicos {
        flex-direction: column;
    }

    .item-servico img {
        margin: auto;
        width: 50%;
    }

    .list-servicos .item-servico {
        margin-bottom: 25px;
    }

    #planos h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .list-planos {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .list-planos .item-plano {
        max-width: 90%;
        margin: auto;
        width: 100%;
        margin-bottom: 20px;
    }

    .footer {
        text-align: center;
        flex-direction: column;
    }

    #menu {
        display: block; 
        position: absolute;
        width: 100%;
        top: 100px;
        /* right: 0; */
        background-color: #B7D0E7;
        height: 0; 
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #navegacao.active #menu {
        /* height: calc(100vh - 70px); */
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        color: white;
    }

    #hamburguer {
        border-top: 2px solid;
        width: 20px;
    }

    #hamburguer::after, #hamburguer::before  {
        content:'';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor; 
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #navegacao.active #hamburguer {
        border-top-color: transparent;
    }

    #navegacao.active #hamburguer::before {
        transform: rotate(135deg);
    }

    #navegacao.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}